.text-input-wrapper {
  width: 100%;

  > input {
    width: 100%;
    height: 36px;
    padding: 0px 10px;
  }

  .text-input-error {
    border: 2px solid #e65353;
    background-color: #ffffff;
  }
  .text-input-error-text {
    font-size: 14px;
    color: #e65353;
    margin-left: 10px;
  }
}
